:root {
    --dark-green: #5F6F52;
    --dark-brown: #361b08;
    --light-green: #A9B388;
    --cream: #FEFAE0;
    --translucent-cream: #fefae03b;
    --tan: #B99470;
    --cell-size: 8vmin;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--tan);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    padding: 1.25rem 1rem;
}

header {
    background-color: var(--light-green);
    box-shadow: 1px 0 5px var(--dark-brown);
}

header a {
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px var(--tan);
    color: var(--cream);
    font-size: 1.25rem;
}

footer {
    background-color: var(--dark-green);
    text-align: center;
    font-weight: bold;
    color: var(--cream);
    text-shadow: 1px 1px var(--tan);
}

h1 {  
    font-size: 4rem;
    margin: 0;
    padding: 0 10%;
}

h1,
h2 {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--dark-brown);
}

h2 {
    font-size: 2rem;
}

button {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: var(--cream);
    color: var(--dark-brown);
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
}

button:hover {
    background: #d3cfb9;
}

main {
    height: 100%;
}

table {
    border-collapse: collapse;
    background-color: var(--dark-brown);
}

table,
tr,
td {
    border: 1px solid var(--tan);
}

tr,
td {
    padding: 0;
    margin: 0;
}

td {
    box-sizing: border-box;
    height: var(--cell-size);
    width: var(--cell-size);
}

.game-state {
    height: 100%;
}

.game-state > div {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    touch-action: manipulation;
}

.game-controls-message-p,
.game-controls,
.game-state--hidden {
    display: none;
}

.player {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: radial-gradient(var(--translucent-cream), rgba(0,0,0,0));
    position: relative;
    margin: 0 auto;
    font-size: calc(var(--cell-size) / 2);
    text-align: center;
}

.human {
    font-size: calc(var(--cell-size) * .75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-controls > div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: var(--cream);
}

.game-control-button {
    font-size: 1rem;
    border-radius: 5px;
}

.game-controls-message-p,
.mute-message-p {
    font-size: 1rem;
    margin: 0;
}

.opening-message-p {
    font-size: 2rem;
}

.game-controls-message-p,
.opening-message-p,
.mute-message-p {
    text-align: center;
    padding: 0 10%;
}

/* Display on screen buttons for touch devices where keyboard is not available */
@media (hover: none) {
    .game-controls-message-p,
    .game-controls {
        display: block;
    }

    .mute-message-p {
        display: none;
    }
}

@media (max-width: 600px) {
    button,
    .opening-message-p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
    }
}